a {
    color: red;
}

.kontener {
    
        display: flex;
        flex-direction: row; /* Ustawia elementy poziomo */
        flex-wrap: wrap; /* Pozwala przenosić elementy do nowych linii */
        justify-content: center; /* Wyśrodkowanie */
        gap: 50px
}

.przycisk {
    background-color: #f4e3c3;
    padding: 10px;
    border: 2px solid #d1b080;
    text-align: center;
    width: 150px;
    cursor: pointer;
}

.przycisk:hover {
    color: white;
    transform: scale(1.3);
    
}
body {
    background: linear-gradient(to right, #0066cc, #00cc66, #ffcc00);
}